@use '../../../styles' as *;

section{
  width: 100vw;
  min-height: calc(100dvh - 160px);
  @include displayFlex($j: flex-start);
  flex-direction: column;
  background-color: cadetblue;

  form{
    @include displayFlex();
    margin-bottom: -76px;
    z-index: 1000;
  }

  .search-full-width{
    width: 200px;
  }
}
