<section>

  <form class="search-form">
    <mat-form-field class="search-full-width" style="margin-bottom: 0">
      <mat-label>Straße</mat-label>
      <input matInput [(ngModel)]="address" name="address" (input)="onAddressChange($event.target.value)" (keyup.enter)="mapCmp.goToAddress(address)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectSuggestion($event.option.value, mapCmp)">
        <mat-option *ngFor="let s of suggestions" [value]="s.label">
          {{ s.label }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" matButton="elevated" (click)="mapCmp.goToAddress(address)">Suchen</button>
  </form>

  <app-map #mapCmp></app-map>

  <app-reviews></app-reviews>
</section>
