@use '../../../styles' as *;

section{
  width: 100vw;
  height: 100px;
  @include displayFlex();

  .headerIconBox{
    @include displayFlex($j: space-between);
    min-width: 956px;
    max-width: 1600px;
  }

  .userIcon{
    cursor: pointer;
  }
}
