button {
  margin-right: 8px;
}

.dialog-title {
  position: relative;
  padding-right: 48px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

app-is-user-logged-in {
  min-width: 308px;
}
